.card {
  padding: 0.5rem;
  position: relative;
  .avatar {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h3 {
      color: rgba(0, 0, 0, 0.8);
      font-weight: 400;
      margin: 0;
    }
    small {
      font-size: 0.8rem;
      color: rgba(0, 0, 0, 0.7);
    }
    @media screen and (min-width: 480px) {
      padding: 0.8rem;
    }
  }
  .projectManager,
  .asignee {
    color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-block: 0.4rem;
    p {
      margin: 0;
    }
  }
  .status {
    p {
      display: inline;
      padding: .25rem 0.5rem;
      font-size: 0.8rem;
      color: #595959;
      font-weight: 500;
      background: #f5f5f5;
      border: 2px solid #d9d9d9;
      border-radius: 0.5rem;
    }
  }
  @media screen and (max-width: 480px) {
    pointer-events: none;
    position: relative;
    .projectManager,
    .status {
      display: none;
    }
    .projectManager,
    .asignee {
      justify-content: flex-start;
    }
    display: flex;
    flex-direction: column;
    .actions {
      font-size: 2rem;
      padding: 0.5rem;
      position: absolute;
      top: 1rem;
      right: 0;
    }
    .menu {
      position: absolute;
      right: 2rem;
      top: 2rem;
      transform: scale(1);

    }
  }
}
