.form {
  background-color: white;
  width: 100%;
  max-width: 42rem;
  box-shadow: inset 0px -1px 2px #a0a0a0, 0px 1px 3px #cacaca;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  padding-top: 1.5rem;

  .formGroup {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 0 1.5rem;
    margin-bottom: 2rem;
    label {
      font-size: 0.8rem;
    }
    .errorMessage {
      position: absolute;
      font-size: 0.6rem;
      bottom: -1rem;
      left: 1.6rem;
      color: red;
    }
    input,
    select {
      padding: 0.5rem;
      border: 1px solid rgba(217, 217, 217, 1);
      border-radius: 0.25rem;
      background-color: white;
      &:focus {
        outline: none;
      }
    }
    select {
      color: #535353;
      option {
        font-size: 0.8rem;
        outline: none;
        border: none;
      }
    }
  }
  button {
    display: inline;
    max-width: 10rem;
  }
}
