.nav {
  background-color: #fff;
  .brandBar {
    height: 3rem;
    padding-inline: .5rem;
    border-bottom: 1px solid rgba(217, 217, 217, 1);
    .logo {
      height: 1.8rem;
      padding-inline: 1rem;
      margin-block: 0.5rem;
    }
  }
  .navBar {
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem 0 .5rem;
    border-bottom: 1px solid rgba(217, 217, 217, 1);
    .breadcrumb {
      display: flex;
      flex-direction: row;
      align-items: center;
      a {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #000;
        text-decoration: none;
        font-size: 0.9rem;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.65);
        svg {
          font-size: 1.5rem;
          color: rgba(0, 0, 0, 0.65);
        }
        &:hover {
          color: black;
          text-decoration: underline;
          text-decoration-color: var(--red);
        }
      }
    }
    h2 {
      font-size: 1.2rem;
      margin-block: 0.5rem;
      margin-left: 1rem;
    }
  }
}
